In [7]:
a  = []
for i in range(2,14):
    a.append(i)
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13

9

In [8]:
count = 0

for i in range(0,12):
    count = count + 1

print(count)

12

In [1]:
import requests
from func_def import *
url= 'http://apis.data.go.kr/B551011/KorService1/areaCode1'

params = {
'serviceKey': 'DuNAHD53YMihcAYk251OZibIu7IxjIwuoPP365VnntZyBrwmHQqRhdA3Ed%2BiLCH5oasIn9aZGKE7LcITX8mVeA%3D%3D',   # 발급받은 API 키
'_type': 'json',         # 반환 타입 (json, xml)
'numOfRows': '100',      # 한 페이지 결과 수
'pageNo': '1',           # 페이지 번호
'MobileApp': 'AppTest',  # 시/도 이름
'MobileOS': 'ETC'        # 버전
#'areaCode' : ''         # 지역코드     // 지역코드 미입력 - 광역시/도
}

response = requests.get(make_url(url, params), verify=False)
print(response)

<Response [200]>

In [2]:
if response.status_code == 200:
    make_csv(response.text, '광역시_도', 'location_info')
else:
    print(f'Error: {response.status_code}')

'{"response": {"header":{"resultCode":"0000","resultMsg":"OK"},"body": {"items": {"item":[{"rnum":1,"code":"1","name":"서울"},{"rnum":2,"code":"2","name":"인천"},{"rnum":3,"code":"3","name":"대전"},{"rnum":4,"code":"4","name":"대구"},{"rnum":5,"code":"5","name":"광주"},{"rnum":6,"code":"6","name":"부산"},{"rnum":7,"code":"7","name":"울산"},{"rnum":8,"code":"8","name":"세종특별자치시"},{"rnum":9,"code":"31","name":"경기도"},{"rnum":10,"code":"32","name":"강원특별자치도"},{"rnum":11,"code":"33","name":"충청북도"},{"rnum":12,"code":"34","name":"충청남도"},{"rnum":13,"code":"35","name":"경상북도"},{"rnum":14,"code":"36","name":"경상남도"},{"rnum":15,"code":"37","name":"전북특별자치도"},{"rnum":16,"code":"38","name":"전라남도"},{"rnum":17,"code":"39","name":"제주도"}]},"numOfRows":17,"pageNo":1,"totalCount":17}}}'

In [24]:
data = json.loads(response.text)
data

data["response"]["body"]

{'items': {'item': [{'rnum': 1, 'code': '1', 'name': '서울'},
   {'rnum': 2, 'code': '2', 'name': '인천'},
   {'rnum': 3, 'code': '3', 'name': '대전'},
   {'rnum': 4, 'code': '4', 'name': '대구'},
   {'rnum': 5, 'code': '5', 'name': '광주'},
   {'rnum': 6, 'code': '6', 'name': '부산'},
   {'rnum': 7, 'code': '7', 'name': '울산'},
   {'rnum': 8, 'code': '8', 'name': '세종특별자치시'},
   {'rnum': 9, 'code': '31', 'name': '경기도'},
   {'rnum': 10, 'code': '32', 'name': '강원특별자치도'},
   {'rnum': 11, 'code': '33', 'name': '충청북도'},
   {'rnum': 12, 'code': '34', 'name': '충청남도'},
   {'rnum': 13, 'code': '35', 'name': '경상북도'},
   {'rnum': 14, 'code': '36', 'name': '경상남도'},
   {'rnum': 15, 'code': '37', 'name': '전북특별자치도'},
   {'rnum': 16, 'code': '38', 'name': '전라남도'},
   {'rnum': 17, 'code': '39', 'name': '제주도'}]},
 'numOfRows': 17,
 'pageNo': 1,
 'totalCount': 17}

In [5]:
items = data["response"]["body"]["items"]["item"]
# filtered_data = [{"code": item["code"], "name": item["name"]} for item in items]
items

[{'rnum': 1, 'code': '1', 'name': '서울'},
 {'rnum': 2, 'code': '2', 'name': '인천'},
 {'rnum': 3, 'code': '3', 'name': '대전'},
 {'rnum': 4, 'code': '4', 'name': '대구'},
 {'rnum': 5, 'code': '5', 'name': '광주'},
 {'rnum': 6, 'code': '6', 'name': '부산'},
 {'rnum': 7, 'code': '7', 'name': '울산'},
 {'rnum': 8, 'code': '8', 'name': '세종특별자치시'},
 {'rnum': 9, 'code': '31', 'name': '경기도'},
 {'rnum': 10, 'code': '32', 'name': '강원특별자치도'},
 {'rnum': 11, 'code': '33', 'name': '충청북도'},
 {'rnum': 12, 'code': '34', 'name': '충청남도'},
 {'rnum': 13, 'code': '35', 'name': '경상북도'},
 {'rnum': 14, 'code': '36', 'name': '경상남도'},
 {'rnum': 15, 'code': '37', 'name': '전북특별자치도'},
 {'rnum': 16, 'code': '38', 'name': '전라남도'},
 {'rnum': 17, 'code': '39', 'name': '제주도'}]

In [6]:
filtered_data = [{"code" : item["code"], "name" : item["name"]} for item in items] # items 안에있는 요소들을 item라는 변수에다 넣는다.
filtered_data

[{'code': '1', 'name': '서울'},
 {'code': '2', 'name': '인천'},
 {'code': '3', 'name': '대전'},
 {'code': '4', 'name': '대구'},
 {'code': '5', 'name': '광주'},
 {'code': '6', 'name': '부산'},
 {'code': '7', 'name': '울산'},
 {'code': '8', 'name': '세종특별자치시'},
 {'code': '31', 'name': '경기도'},
 {'code': '32', 'name': '강원특별자치도'},
 {'code': '33', 'name': '충청북도'},
 {'code': '34', 'name': '충청남도'},
 {'code': '35', 'name': '경상북도'},
 {'code': '36', 'name': '경상남도'},
 {'code': '37', 'name': '전북특별자치도'},
 {'code': '38', 'name': '전라남도'},
 {'code': '39', 'name': '제주도'}]

In [22]:
csv_file_path = '지역정보조회_광역시_도.csv'
with open(csv_file_path, mode='a', newline='',encoding='utf-8')as csv_file:
    csv_writer = csv.DictWriter(csv_file, fieldnames=["code", "name"])

    csv_file.seek(0,2)
    file_empty = csv_file.tell() == 0 

    if file_empty:
        csv_writer.writeheader()
    
    for row in filtered_data:
        csv_writer.writerow(row)

In [8]:
fileName = "지역정보조회_광역시_도"
csv_file_path = f'{fileName}.csv'

with open(csv_file_path, mode = 'w', newline='', encoding='utf-8') as csv_file:

    csv_writer = csv.DictWriter(csv_file, fieldnames= ["code", "name"])

    csv_file.seek(0,2)
    file_empty = csv_file.tell() == 0

    if file_empty:
        csv_writer.writeheader()

    for row in filtered_data:
        csv_writer.writerow(row)

In [21]:
import pandas as pd
df = pd.read_csv('지역정보조회_광역시_도.csv', encoding='utf-8', index_col=0)

In [20]:
df

         name
code
1          서울
2          인천
3          대전
4          대구
5          광주
6          부산
7          울산
8     세종특별자치시
31        경기도
32    강원특별자치도
33       충청북도
34       충청남도
35       경상북도
36       경상남도
37    전북특별자치도
38       전라남도
39        제주도